# Note: This config file has completely stopped working in the last few weeks.
# The soft rustflag doesn't even work anymore. I've been having to manually run 
# cargo test and cargo bench using RUSTFLAGS and shell scripts to simplify the command

# This config file will choose which Rust Flag to use for the benches.
# Rename this file to "config" and uncomment out a rustflag to use it.
# The config file will be excluded with `*/.cargo/config` in the .gitignore

#[build]
#rustflags = "--cfg chacha20_force_avx2 -C target-feature=+avx2"
#rustflags = "--cfg chacha20_force_sse2"
#rustflags = "--cfg chacha20_force_neon"
#rustflags = "--cfg chacha20_force_soft"