[package]
name = "rabbit"
description = "An implementation of the Rabbit Stream Cipher Algorithm"
version = "0.3.0"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/RustCrypto/stream-ciphers"
keywords = ["crypto", "rabbit", "stream-cipher", "trait"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2018"

[dependencies]
cipher = "0.3"
zeroize = { version = "=1.4", optional = true, default-features = false, features = ["zeroize_derive"] }

[features]
default = []
