[package]
name = "hc-256"
version = "0.4.1"
authors = ["Eric McCorkle <eric@metricspace.net>"]
license = "MIT OR Apache-2.0"
description = "HC-256 Stream Cipher"
repository = "https://github.com/RustCrypto/stream-ciphers"
keywords = ["crypto", "stream-cipher", "trait"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2018"

[dependencies]
cipher = "0.3"
zeroize = { version = "=1.4", optional = true, default-features = false }
