[package]
name = "hc-256"
version = "0.0.1"
authors = ["Eric McCorkle <eric@metricspace.net>"]
license = "MIT OR Apache-2.0"
description = "HC-256 Stream Cipher"
repository = "https://github.com/RustCrypto/stream-ciphers"
keywords = ["crypto", "stream-cipher", "trait"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2018"

[dependencies]
block-cipher = "= 0.7.0-pre"
stream-cipher = "= 0.4.0-pre"
zeroize = { version = "1", optional = true }

[dev-dependencies]
stream-cipher = { version = "= 0.4.0-pre", features = ["dev"] }
block-cipher = { version = "= 0.7.0-pre", features = ["dev"] }

[badges]
maintenance = { status = "experimental" }
travis-ci = { repository = "RustCrypto/stream-ciphers" }
