[package]
name = "salsa20"
version = "0.4.1"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = "Salsa20 Stream Cipher"
repository = "https://github.com/RustCrypto/stream-ciphers"
keywords = ["crypto", "stream-cipher", "trait", "xsalsa20"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2018"

[dependencies]
stream-cipher = "= 0.4.0-pre"
zeroize = { version = "1", optional = true }

[dev-dependencies]
stream-cipher = { version = "= 0.4.0-pre", features = ["dev"] }

[features]
default = ["xsalsa20"]
hsalsa20 = ["xsalsa20"]
xsalsa20 = []
