name: benches

on:
  pull_request:
    paths:
      - ".github/workflows/benches.yml"
      - "benches/**"
  push:
    branches: master

defaults:
  run:
    working-directory: benches

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo bench --no-run
